<div class="page-container">
  <div class="content-wrapper">
    <div class="form-container">
      <h2>Connexion à l'Atelier</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <span class="p-float-label">
            <input id="email" type="text" pInputText formControlName="email" class="custom-input" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('email')}">
            <label for="email">Email</label>
          </span>
        </div>

        <div class="input-container">
          <span class="p-float-label">
            <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false" styleClass="custom-password" [inputStyleClass]="'custom-input'" [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('password')}"></p-password>
            <label for="password">Mot de passe</label>
          </span>
        </div>

        <p-button type="submit" label="Se connecter" styleClass="custom-button"></p-button>
        <label class="flex justify-content-between">
          <label>
            <p-checkbox formControlName="rememberMe" [binary]="true" inputId="rememberMe" id="rememberMe"></p-checkbox>
            <label class="ml-1 text-sm" for="rememberMe">Se souvenir de moi</label>
          </label>
          <a class="text-sm underline" [routerLink]="registerPath">S'enregistrer</a>
        </label>
      </form>
    </div>

    <div class="error-wrapper">
      <app-error [errorMessage]="getErrorMessage()"></app-error>
    </div>
  </div>
</div>
