/* Styles pour la mise en page globale */

:root {
  --primary-color: #8B4513;  // Brun
  --secondary-color: #DAA520; // Or
  --background-color: #F5E6D3; // Parchemin clair
  --text-color: #2C1B0E; // Brun foncé
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto Slab', serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
}
